body{
    
  background-color: black;
 
}
#nava2,#footer
{
 background-color: gray;
}
#type-movies
{
 color:blue ;
 text-decoration: none;
 font-weight: bold;
}
#type-actor
{
 color:black ;
 text-decoration: none;
 font-weight: bold;
}
#type-movie:hover{
text-decoration: none;
}
#type-actor:hover{
text-decoration: none;

}



.pagination1{
    display: inline-block;
    margin-top: 10px; 
    margin-left: 0;
   
  }
  .pagination_review{
    display: inline-block;
    margin-top: 10px; 
    padding-left: 15px;
   
  }
  .pagination1 a,.pagination_review a {
    color: blue;
    text-decoration: none;
    float: left;
    padding: 4px 8px;
   border: 1px solid gray;
   background: white;
  }
  
  .pagination1 a:active,.pagination_review a:active {
    background-color: gray;
    color: black;
    border: 1px solid blue;
  }
  
  .pagination1 a:hover:not(.active),.pagination_review  a:hover:not(.active) {background-color: red;}
  
  